{
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "jest",
    "prettier"
  ]
}
